<%= form_for @play, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :table_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :table_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :starts_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :starts_at, :class => 'datetime_select' %>
    </div>
  </div>
<!--
  <div class="control-group">
    <%= f.label :ends_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :ends_at, :class => 'datetime_select' %>
    </div>
  </div>
-->
  <div class="control-group">
    <%= f.label :note, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :note, :class => 'text_area' %>
    </div>
  </div>
<!--
  <div class="control-group">
    <%= f.label :account_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :account_id, :class => 'number_field' %>
    </div>
  </div>
-->

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                plays_path, :class => 'btn' %>
  </div>
<% end %>
