<!DOCTYPE html>
<html>
<head>
  <title>Snooker Club</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%# ----- 追加 ----- %>
<% if current_account %>
  <%# ログイン済み %>
  <%= link_to_unless( current_account.screen_name.blank?, image_tag( current_account.image, size: "20x20" ), "https://twitter.com/#!/#{current_account.screen_name}", target: "_blank" ) %>
  <%= current_account.name %> :
   || <%= link_to "Logout", logout_path %>
<% else %>
  <%# 未ログイン %>
  <%= link_to "Login", "/auth/facebook" %>
<% end %>

<%# 通知／エラーメッセージ %>
<%= simple_format( flash[:notice], style: "color: green;" ) unless flash[:notice].blank? %>
<%= simple_format( flash[:alert], style: "color: red;" ) unless flash[:alert].blank? %>
<%# ----- ／追加 ----- %>

<%= yield %>
<br />
<br />

<footer>
  <p>
    Developed by <a href="https://twitter.com/tkawa" target="_blank">tkawa</a>, Designed by <a href="https://twitter.com/" target="_blank">???</a>
  </p>
</footer>

</body>
</html>
